<a href="https://colab.research.google.com/github/dtype2100/Python/blob/master/cluster_Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.preprocessing import MinMaxScaler

In [ ]:
kakao_df = pd.read_csv('')
mango_df = pd.read_csv('')

In [ ]:
mango_df

,title,rating,address,category,url,lat,lng,new_category,menu,tel
0,스시아라타,4.7,서울시 영등포구 여의도동 34-8,회 / 스시,https://www.mangoplate.com/restaurants/vZ74ooB...,37.521257,126.928871,식당,"['평일런치 스시오마카세', '평일디너 스시오마카세', '주말 스시오마카세']",02-2636-9417
1,바이러닉에스프레소바 ...,4.7,서울시 영등포구 여의도동 17,카페 / 디저트,https://www.mangoplate.com/restaurants/DgRCxk7...,37.525641,126.918618,카페,"['아메리카노', '라떼', '바닐라라떼', '마카다미아라떼', '코코넛꼼빠냐']",-
2,히노노리,4.7,서울시 영등포구 여의도동 23-6,기타 일식,https://www.mangoplate.com/restaurants/vVNatXW...,37.523328,126.923439,식당,-,02-6747-0773
3,허브족발 (본점),4.6,서울시 영등포구 당산동6가 237-38,고기 요리,https://www.mangoplate.com/restaurants/q20qRCRIIS,37.534224,126.902961,식당,"['앞다리족발', '뒷다리족발', '매콤족발', '앞다리족발 매콤족발 (반반)', ...",02-2633-4339
4,우미노미,4.6,서울시 영등포구 당산동4가 31-2,돈부리 / 일본 카레 / 벤토,https://www.mangoplate.com/restaurants/LGXola8...,37.530237,126.899325,식당,"['카이센동', '차돌스키야키', '사케동', '카이센동 모듬']",02-3667-4027
...,...,...,...,...,...,...,...,...,...,...
995,카페 오브,-,서울시 영등포구 양평동5가 120-2,카페 / 디저트,https://www.mangoplate.com/restaurants/qx2m_ZI...,37.540349,126.895660,카페,-,02-2631-9647
996,한양원,-,서울시 영등포구 여의도동 44-36,고기 요리,https://www.mangoplate.com/restaurants/Tz1o7OXVDV,37.519150,126.930520,식당,-,02-761-9292
997,고반식당 (서여의도점),-,서울시 영등포구 여의도동 17-9,고기 요리,https://www.mangoplate.com/restaurants/BPQ6mym...,37.526576,126.918188,식당,-,02-786-0092
998,은행골 (여의도점),-,서울시 영등포구 여의도동 44-21,회 / 스시,https://www.mangoplate.com/restaurants/p-b7223...,37.520721,126.929123,식당,-,02-784-4988
999,오락,-,서울시 영등포구 여의도동 43,기타 한식,https://www.mangoplate.com/restaurants/HaN7PrruhJ,37.521462,126.930659,식당,-,02-780-3548

In [ ]:
len(mango_df['category'].value_counts())

42

In [ ]:
mango_df['new_category'].value_counts()

식당    778
카페    196
술집     26
Name: new_category, dtype: int64

In [ ]:
df['rating'].replace('-', 'np.nan')

0       3.6
1       3.6
2       5.0
3       4.7
4       3.1
       ...
1407    4.1
1408    0.0
1409    0.0
1410    2.8
1411    0.0
Name: rating, Length: 1412, dtype: float64

In [ ]:
le = LabelEncoder()
result = le.fit_transform(df['category'])
print(result)

[ 12  78 204 ... 129 131 179]

In [ ]:
one_hot_df = pd.get_dummies(df['category'])

In [ ]:
min_max = MinMaxScaler()
min_max_scaler = min_max.fit_transform(one_hot_df)

In [ ]:
min_max_scaler_df = pd.DataFrame(min_max_scaler)

In [ ]:
scaler = StandardScaler()
sr = scaler.fit_transform(one_hot_df)

In [ ]:
sr_df = pd.DataFrame(sr)

In [ ]:
pca = PCA(n_components=1)
pca_res = pca.fit_transform(min_max_scaler_df)
pca_df = pd.DataFrame(pca_res)

In [ ]:
pca_cat = pd.concat([pca_df, df['category']], axis=1)

In [ ]:
pca_cat

             0 category
0    -0.022438    곱창,막창
1    -0.019582       본죽
2    -0.020152     한식뷔페
3    -0.020602      감자탕
4     0.775410       한식
...        ...      ...
1407 -0.020450       뷔페
1408 -0.020450       뷔페
1409 -0.021733      음식점
1410 -0.019582    이삭토스트
1411 -0.019582      토스트

[1412 rows x 2 columns]

In [ ]:
sns.scatterplot(data=pca_cat, x='x', y='y')

ValueError: ignored

In [ ]:
pca_cat pca_df

SyntaxError: ignored

In [ ]:
from sklearn.cluster import KMeans

In [ ]:
km = KMeans(n_clusters=20, random_state=42).fit(pca_res.reshape(-1,1))
y_pred = km.fit_predict(pca_res)

In [ ]:
km.labels_

array([18, 12,  4, ..., 19, 12, 12], dtype=int32)

In [ ]:
y_pred

array([18, 12,  4, ..., 19, 12, 12], dtype=int32)

In [ ]:
centers = km.cluster_centers_
print(centers)

[[-0.0237868 ]
 [ 0.7754098 ]
 [-0.6253827 ]
 [-0.03401084]
 [-0.0202325 ]
 [-0.02842548]
 [-0.02196578]
 [-0.03671626]
 [-0.02577947]
 [-0.03241836]
 [-0.02268478]
 [-0.02081692]
 [-0.01963899]
 [-0.02309527]
 [-0.02530832]
 [-0.02051974]
 [-0.01993039]
 [-0.02123347]
 [-0.02239462]
 [-0.02170135]]

In [ ]:
df['km.labels_'] = km.labels_

In [ ]:
four_df = df[df['rating'] >= 4.0]

In [ ]:
df['km.labels_'].value_counts()

12    181
1     146
2     138
11    103
4      77
18     75
19     74
7      67
3      61
10     61
9      57
15     52
16     51
6      49
5      45
13     45
17     36
8      35
14     33
0      26
Name: km.labels_, dtype: int64

In [ ]:
four_df.groupby(['km.labels_', 'stores', 'n_cate', 'road_address', 'place_url']).sum()

                                                                                           ID  \
km.labels_ stores  n_cate road_address      place_url
0          나카산     cafe   서울 영등포구 당산로41길 28 http://place.map.kakao.com/713473881    713473881
           디저트초방   cafe   서울 영등포구 당산로54길 11 http://place.map.kakao.com/1725223237  1725223237
           베어베이크   cafe   서울 영등포구 선유동2로 65  http://place.map.kakao.com/1608603100  1608603100
           엘레나베이커리 cafe   서울 영등포구 당산로41길 11 http://place.map.kakao.com/113215286    113215286
           오븐위고양이  cafe   서울 영등포구 영중로 139   http://place.map.kakao.com/799127054    799127054
...                                                                                       ...
19         케이팥     cafe   서울 영등포구 국회대로 780  http://place.map.kakao.com/454941773    454941773
           쿠사      jap    서울 영등포구 은행로 54    http://place.map.kakao.com/215535339    215535339
           크로닉     cafe   서울 영등포구 당산로35길 7  http://place.map.kakao.com/1600875037  1600875037
           풍운불고기   etc    서울 영등포구 은행로 29    http://place.map.kakao.com/1950277481  1950277481
           화담      jap    서울 영등포구 국회대로 800  http://place.map.kakao.com/171248151    171248151

                                                                                            X  \
km.labels_ stores  n_cate road_address      place_url
0          나카산     cafe   서울 영등포구 당산로41길 28 http://place.map.kakao.com/713473881   126.896895
           디저트초방   cafe   서울 영등포구 당산로54길 11 http://place.map.kakao.com/1725223237  126.905012
           베어베이크   cafe   서울 영등포구 선유동2로 65  http://place.map.kakao.com/1608603100  126.897953
           엘레나베이커리 cafe   서울 영등포구 당산로41길 11 http://place.map.kakao.com/113215286   126.898170
           오븐위고양이  cafe   서울 영등포구 영중로 139   http://place.map.kakao.com/799127054   126.905538
...                                                                                       ...
19         케이팥     cafe   서울 영등포구 국회대로 780  http://place.map.kakao.com/454941773   126.919474
           쿠사      jap    서울 영등포구 은행로 54    http://place.map.kakao.com/215535339   126.924526
           크로닉     cafe   서울 영등포구 당산로35길 7  http://place.map.kakao.com/1600875037  126.896856
           풍운불고기   etc    서울 영등포구 은행로 29    http://place.map.kakao.com/1950277481  126.921889
           화담      jap    서울 영등포구 국회대로 800  http://place.map.kakao.com/171248151   126.920913

                                                                                           Y  \
km.labels_ stores  n_cate road_address      place_url
0          나카산     cafe   서울 영등포구 당산로41길 28 http://place.map.kakao.com/713473881   37.532322
           디저트초방   cafe   서울 영등포구 당산로54길 11 http://place.map.kakao.com/1725223237  37.534661
           베어베이크   cafe   서울 영등포구 선유동2로 65  http://place.map.kakao.com/1608603100  37.534351
           엘레나베이커리 cafe   서울 영등포구 당산로41길 11 http://place.map.kakao.com/113215286   37.530850
           오븐위고양이  cafe   서울 영등포구 영중로 139   http://place.map.kakao.com/799127054   37.528750
...                                                                                      ...
19         케이팥     cafe   서울 영등포구 국회대로 780  http://place.map.kakao.com/454941773   37.529850
           쿠사      jap    서울 영등포구 은행로 54    http://place.map.kakao.com/215535339   37.529751
           크로닉     cafe   서울 영등포구 당산로35길 7  http://place.map.kakao.com/1600875037  37.528894
           풍운불고기   etc    서울 영등포구 은행로 29    http://place.map.kakao.com/1950277481  37.529082
           화담      jap    서울 영등포구 국회대로 800  http://place.map.kakao.com/171248151   37.530873

                                                                                   rating
km.labels_ stores  n_cate road_address      place_url
0          나카산     cafe   서울 영등포구 당산로41길 28 http://place.map.kakao.com/713473881      5.0
           디저트초방   cafe   서울 영등포구 당산로54길 11 http://place.map.kakao.com/1725223237     5.0
           베어베이크   cafe   서울 영등포구 선유동2로 65  http://place.map.kakao.com/1608603100     4.1
           엘레나베이커리 cafe   서울 영등포구 당산로41길 11 http://place.map.kakao.com/113215286      5.0
           오븐위고양이  cafe   서울 영등포구 영중로 139   http://place.map.kakao.com/799127054      4.8
...                                                                                   ...
19         케이팥     cafe   서울 영등포구 국회대로 780  http://place.map.kakao.com/454941773      5.0
           쿠사      jap    서울 영등포구 은행로 54    http://place.map.kakao.com/215535339      5.0
           크로닉     cafe   서울 영등포구 당산로35길 7  http://place.map.kakao.com/1600875037     4.8
           풍운불고기   etc    서울 영등포구 은행로 29    http://place.map.kakao.com/1950277481     5.0
           화담      jap    서울 영등포구 국회대로 800  http://place.map.kakao.com/171248151      4.6

[452 rows x 4 columns]

In [ ]:
four_df

,ID,stores,X,Y,road_address,place_url,menu,category,business_hours,rating,phone_number,last_update,n_cate,km.labels_
2,177078961,시골집,126.896200,37.527125,서울 영등포구 당산로33길 5,http://place.map.kakao.com/177078961,NaN,한식뷔페,NaN,5.0,010-7793-2847,2022.04.28.,kor,4
3,1985593786,은성감자탕,126.897359,37.526721,서울 영등포구 국회대로34길 8-2,http://place.map.kakao.com/1985593786,"['뼈해장국', '뼈우거지탕', '김치뼈해장국', '뼈김치탕(중)', '감자탕(소)']",감자탕,NaN,4.7,NaN,2022.07.14.,kor,15
6,1094618733,사비문,126.897251,37.526653,서울 영등포구 당산로32길 1-4,http://place.map.kakao.com/1094618733,"['맑은국밥', '얼큰국밥', '육회비빔밥', '생삼겹살(180g)', '껍데기볶음...",국밥,월~토 11:00 ~ 22:00,4.5,02-3663-7807,2021.08.09.,kor,11
10,803225725,엄청난불고기,126.897335,37.526615,서울 영등포구 국회대로34길 10,http://place.map.kakao.com/803225725,"['불고기(140g)', '불고기(300g)', '엄청난 국수', '엄청난 비빔국수']","불고기,두루치기",월~토 11:00 ~ 23:00,5.0,02-2634-7592,2021.05.28.,kor,16
15,26476559,대구반야월막창 영등포구청점,126.897898,37.526531,서울 영등포구 국회대로36길 10,http://place.map.kakao.com/26476559,"['생막창 (1인분)', '소막창 (1인분)', '양념왕갈비 (1인분)', '뼈없는...","곱창,막창",매일 17:00 ~ 01:00,4.7,02-2677-5004,2021.04.14.,kor,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1394,27334632,그리츠,126.917279,37.527380,서울 영등포구 의사당대로 16,http://place.map.kakao.com/27334632,"['조식 (성인)', '조식 (소인)', '중식 (성인)', '중식 (소인)', '...",뷔페,매일 06:30 ~ 21:30\n(카페 운영 시간 14:30 ~ 17:30),4.0,02-6222-5511,2021.02.14.,etc,15
1395,1635307371,버텍스 여의도점,126.918121,37.526510,서울 영등포구 의사당대로 26,http://place.map.kakao.com/1635307371,"['미국식닭고기덮밥(small)', '미국식새우닭고기덮밥(small)']",퓨전요리,매일 10:30 ~ 21:00,4.8,02-785-9252,2022.02.09.,etc,15
1398,281686137,먹쉬돈나 국회의사당역점,126.917885,37.528067,서울 영등포구 국회대로 지하 758,http://place.map.kakao.com/281686137,NaN,음식점,NaN,4.0,NaN,2021.12.06.,etc,19
1404,1950277481,풍운불고기,126.921889,37.529082,서울 영등포구 은행로 29,http://place.map.kakao.com/1950277481,NaN,음식점,NaN,5.0,NaN,2022.05.07.,etc,19
1407,7859006,켄싱턴호텔 여의도 브로드웨이,126.921959,37.530272,서울 영등포구 국회대로76길 16,http://place.map.kakao.com/7859006,"['조식 (성인)', '조식 (소인)', '중식 (성인)', '중식 (소인)', '...",뷔페,매일 07:00 ~ 21:30,4.1,02-6670-7260,2022.05.23.,etc,15

In [ ]:
four_df[four_df['road_address'].str.contains('은행로 ')]

,ID,stores,X,Y,road_address,place_url,menu,category,business_hours,rating,phone_number,last_update,n_cate,km.labels_
229,448187442,귀빈뷔페,126.919666,37.527512,서울 영등포구 은행로 3,http://place.map.kakao.com/448187442,['추천귀빈뷔페 1인'],한식뷔페,월~토 10:50 ~ 20:00,5.0,02-783-5007,2022.07.28.,kor,4
286,21420277,고려삼계탕,126.921881,37.529075,서울 영등포구 은행로 29,http://place.map.kakao.com/21420277,"['삼계탕', '반계탕', '닭도리탕', '찜닭', '닭 육개장']",삼계탕,NaN,4.0,02-785-5716,2021.09.05.,kor,11
290,13288020,미전,126.921906,37.529083,서울 영등포구 은행로 29,http://place.map.kakao.com/13288020,"['오징어불고기', '두부김치찜', '연타불고기 막국수', '사골 선지해장국', '...",한식,NaN,4.0,02-786-7497,2022.07.09.,kor,1
293,18908364,5징어,126.921906,37.529079,서울 영등포구 은행로 29,http://place.map.kakao.com/18908364,"['오징어무침', '오징어숙회', '두부김치', '오징어철판', '해물짬뽕탕', '...",한식,NaN,4.0,NaN,2022.04.04.,kor,1
310,160976068,판동면옥 여의도점,126.922606,37.529386,서울 영등포구 은행로 37,http://place.map.kakao.com/160976068,NaN,냉면,"월,화,수,목,금,일 11:00 ~ 21:30",4.7,02-784-8288,2022.06.28.,kor,4
349,2324283,청마루,126.924833,37.529996,서울 영등포구 은행로 58,http://place.map.kakao.com/2324283,"['생고기김치찌개', '생고기두부찌개', '차돌두부찌개', '차돌된장찌개', '고등...","찌개,전골",NaN,4.0,NaN,2022.04.29.,kor,18
424,1532065302,최종병기맛,126.919668,37.527513,서울 영등포구 은행로 3,http://place.map.kakao.com/1532065302,NaN,순대,NaN,5.0,NaN,2021.11.22.,school_food,6
446,1477958539,오늘은즉떡 2호점,126.924521,37.529808,서울 영등포구 은행로 54,http://place.map.kakao.com/1477958539,['즉석떡볶이 1인분'],떡볶이,월~금 11:00 ~ 20:00,4.2,NaN,2022.08.17.,school_food,11
448,1900812995,디스코밥,126.924551,37.529744,서울 영등포구 은행로 54,http://place.map.kakao.com/1900812995,"['할치치김밥', '크샐김밥', '딥떡', '프리미엄 김밥', '진미김밥', '연어...",분식,"월,화,수,목,금,일 08:00 ~ 21:00",5.0,02-6279-7948,2021.11.19.,school_food,5
453,454971325,겐카츠,126.924814,37.529730,서울 영등포구 은행로 54,http://place.map.kakao.com/454971325,NaN,"돈까스,우동",월~금 11:00 ~ 20:30,5.0,NaN,2022.07.21.,school_food,6
454,20749401,삼도매점분식,126.924865,37.529964,서울 영등포구 은행로 58,http://place.map.kakao.com/20749401,NaN,분식,NaN,4.2,02-786-9315,2020.09.16.,school_food,5
485,870752979,팔당반점 서여의도점,126.922616,37.529454,서울 영등포구 은행로 37,http://place.map.kakao.com/870752979,"['짜장면', '우육탕면', '팔당짬뽕', '소고기짬뽕', '삼선볶음밥']",중국요리,월~금 11:00 ~ 22:00,4.5,02-723-5938,2021.07.26.,chi,8
493,860887796,완차이면가,126.924544,37.529805,서울 영등포구 은행로 54,http://place.map.kakao.com/860887796,"['완자홍백훠궈 (1인)', '홍콩 우육탕면', '군만두 (4P)', '청경채 도가...",중국요리,월~토 10:30 ~ 20:30,4.1,02-782-7845,2022.04.28.,chi,8
561,215535339,쿠사,126.924526,37.529751,서울 영등포구 은행로 54,http://place.map.kakao.com/215535339,"['부타노 쇼가야끼', '밀푀유치즈돈카츠', '치킨남방즈케', '미소나스동', '연...",일식,매일 11:00 ~ 20:00,5.0,NaN,2020.09.22.,jap,19
589,1982251252,질할브로스 여의도점,126.921888,37.529083,서울 영등포구 은행로 29,http://place.map.kakao.com/1982251252,"['치킨 오버 라이스', '램 오버 라이스', '콤보 라이스', '치킨 라이스 랩'...",양식,월~금 10:30 ~ 21:00,4.4,02-786-1422,2022.05.12.,wes,13
594,1562417145,구스토스퀘어,126.924829,37.530000,서울 영등포구 은행로 58,http://place.map.kakao.com/1562417145,"['알리오 에 올리오', '봉골레링귀니', '베이컨크림 파스타', '추천이탈리아 라...",이탈리안,월~금 11:00 ~ 22:00,5.0,02-716-8797,2022.05.30.,wes,11
889,8790250,아티제 여의도공원점,126.922654,37.528189,서울 영등포구 은행로 30,http://place.map.kakao.com/8790250,"['로열자몽티', '바닐라 라떼', '카페라떼', '카페 아메리카노', '카푸치노']",아티제,월~금 07:00 ~ 20:30,4.0,02-761-2274,2022.08.19.,cafe,12
894,1499145885,플랩잭팬트리,126.921780,37.529048,서울 영등포구 은행로 29,http://place.map.kakao.com/1499145885,"['아메리카노', '카페라떼', '카푸치노', '바닐라라떼', '카페모카']",카페,NaN,4.8,NaN,2022.01.13.,cafe,2
895,1459697187,밀키웨이밀크티 여의도점,126.921893,37.529047,서울 영등포구 은행로 29,http://place.map.kakao.com/1459697187,NaN,카페,NaN,4.8,NaN,2017.06.01.,cafe,2
896,1613737017,커피기업 여의도점,126.921888,37.529083,서울 영등포구 은행로 29,http://place.map.kakao.com/1613737017,"['아메리카노', '고소합니다라떼', '스노우비엔나', '비엔나슈', '더치수제바닐...",카페,월~금 07:00 ~ 17:00,4.7,02-786-5671,2021.04.14.,cafe,2
897,23209540,스윗차징,126.921879,37.529064,서울 영등포구 은행로 29,http://place.map.kakao.com/23209540,"['오리지널 와플', '추천소금빵', '에그타르트', '고메버터 한입스콘', '추천...",카페,월~금 07:00 ~ 20:00,4.8,070-8873-8866,2022.07.20.,cafe,2
898,20195802,카페스터닝,126.921893,37.529072,서울 영등포구 은행로 29,http://place.map.kakao.com/20195802,NaN,커피전문점,NaN,4.2,02-785-0290,2022.05.05.,cafe,9
900,1559226513,플로리다,126.921902,37.529086,서울 영등포구 은행로 29,http://place.map.kakao.com/1559226513,NaN,카페,월~금 06:30 ~ 21:00,5.0,NaN,2021.11.12.,cafe,2
901,1675199318,33카페,126.921889,37.529082,서울 영등포구 은행로 29,http://place.map.kakao.com/1675199318,"['에그샌드위치(하프)', '햄치즈샌드위치(하프)', '치킨텐더샌드위치(하프)', ...",카페,월~금 07:30 ~ 18:00,4.5,070-4325-0219,2022.07.06.,cafe,2
902,404533620,브루클린커피,126.921888,37.529083,서울 영등포구 은행로 29,http://place.map.kakao.com/404533620,"['브루클린 블랜드', '리브레 스페셜티 블렌드', '카페라떼', '꿀아메리카노',...",카페,NaN,4.0,NaN,2022.03.05.,cafe,2
904,949282012,그릭샐러드,126.921888,37.529083,서울 영등포구 은행로 29,http://place.map.kakao.com/949282012,NaN,샐러드,월~금 08:00 ~ 19:30,5.0,NaN,2022.07.12.,cafe,4
918,12772378,카페오가닉 여의도본점,126.922594,37.529424,서울 영등포구 은행로 37,http://place.map.kakao.com/12772378,"['에스프레소 (HOT)', '에스프레소 (ICE)', '아메리카노 (HOT)', ...",커피전문점,월~금 08:00 ~ 21:00,4.0,02-785-4330,2022.07.19.,cafe,9
937,1982305939,진실롱,126.924526,37.529751,서울 영등포구 은행로 54,http://place.map.kakao.com/1982305939,"['아메리카노', '카페 라떼', '레몬차', '레몬민트티', '비건 쿠키']",디저트카페,월~토 08:00 ~ 21:00,5.0,010-3390-4663,2021.08.27.,cafe,19
940,716803004,윤중싸롱,126.924517,37.529726,서울 영등포구 은행로 54,http://place.map.kakao.com/716803004,NaN,카페,NaN,5.0,02-784-5554,2019.05.29.,cafe,2
978,1859166031,불스버거,126.919666,37.527506,서울 영등포구 은행로 3,http://place.map.kakao.com/1859166031,NaN,햄버거,월~금 10:30 ~ 22:00,4.4,070-4647-0511,2022.04.04.,fast,15
1058,10365039,뒤풀이,126.921966,37.528997,서울 영등포구 은행로 29,http://place.map.kakao.com/10365039,"['대구 (머리탕)', '대구탕', '북어국', '대구뽈찜 (대)', '대구뽈찜 (...","매운탕,해물탕",월~금 06:30 ~ 21:00,4.4,NaN,2022.07.25.,seafood,4
1059,16987113,바다내음,126.921902,37.529065,서울 영등포구 은행로 29,http://place.map.kakao.com/16987113,"['활어회덮밥', '멍게비빔밥', '물회정식', '알탕', '알밥', '동태탕', ...","해물,생선",NaN,4.0,02-785-2979,2021.06.21.,seafood,14
1343,751072726,미적감각,126.921888,37.529083,서울 영등포구 은행로 29,http://place.map.kakao.com/751072726,"['아페롤 스프리츠', '진토닉(팅거레이)', '진토닉(핸드릭스)', '보드카소다']","호프,요리주점",NaN,5.0,010-2022-1044,2022.02.14.,alcohol,3
1404,1950277481,풍운불고기,126.921889,37.529082,서울 영등포구 은행로 29,http://place.map.kakao.com/1950277481,NaN,음식점,NaN,5.0,NaN,2022.05.07.,etc,19

In [ ]:
df.to_csv('km_test.csv')

In [ ]:
df['km.labels_'].value_counts()

0     242
10    189
7     176
4     157
11    134
13    119
6      94
15     65
16     63
2      49
5      25
12     21
18     20
14     17
1      13
3       9
17      7
9       6
19      3
8       3
Name: km.labels_, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
from tensorflow.keras.utils import to_categorical

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(cate_df, cate_lis, test_size=0.2, shuffle=True, random_state=42)

ValueError: ignored