<a href="https://colab.research.google.com/github/dtype2100/Python/blob/master/map_merge_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
naver_df = pd.read_csv('')
mango_df = pd.read_csv('')
kakao_df = pd.read_csv('')

In [ ]:
kakao_df

,ID,stores,X,Y,road_address,place_url,menu,category,business_hours,rating,phone_number,last_update
0,20908598,공차 영등포구청점,126.897061,37.526699,서울 영등포구 당산로 136,http://place.map.kakao.com/20908598,"['브라운슈가 치즈폼 스무디(L)', '브라운슈가 쥬얼리 밀크티(L)', '망고 스...",공차,월~금 10:30 ~ 22:00,4.3,02-2633-0789,2021.04.29.
1,1714644708,이도숙성회,126.896237,37.526695,서울 영등포구 당산로31길 4,http://place.map.kakao.com/1714644708,"['모듬초밥(12p)', '생연어초밥(10p)', '모듬숙성회(중)', '서더리탕'...",회,월~토 11:00 ~ 22:00,3.9,02-2636-5888,2022.02.16.
2,27527233,까치네분식,126.896689,37.527085,서울 영등포구 당산로 139,http://place.map.kakao.com/27527233,"['순두부찌개', '김치찌개', '비빔밥', '수제등심돈까스', '떡볶이', '참치...",분식,월~토 07:30 ~ 21:30,3.0,02-2068-3436,2022.05.20.
3,22246273,푸른농장 해바라기생고기정육식당 영등포점,126.896155,37.527045,서울 영등포구 당산로33길 5,http://place.map.kakao.com/22246273,"['소한마리', '소반마리', '삼겹살', '오겹살', '목살', '가브리살', '...","육류,고기",NaN,4.0,02-3667-1777,2022.03.22.
4,19609040,사조참치 영등포구청점,126.896554,37.526706,서울 영등포구 당산로 133,http://place.map.kakao.com/19609040,"['메뉴판', 'VIP 특선 (1人)', '사조 특선 (1人)', '사조 스페셜 (...",참치회,NaN,4.4,02-2069-2475,2022.08.18.
...,...,...,...,...,...,...,...,...,...,...,...,...
1407,15681007,엄니식당,126.931091,37.526241,서울 영등포구 여의나루로 117,http://place.map.kakao.com/15681007,NaN,한식,NaN,2.8,02-785-1007,2022.04.05.
1408,560071396,머글거리,126.935073,37.528453,서울 영등포구 여의동로 338,http://place.map.kakao.com/560071396,"['호로록떡볶이', '닭꼬치', '오뎅', '우동', '반건조오징어']",분식,NaN,1.5,070-4272-8160,2021.04.17.
1409,8279880,다락방청국장,126.931091,37.526241,서울 영등포구 여의나루로 117,http://place.map.kakao.com/8279880,NaN,한식,NaN,3.0,02-780-2009,2022.07.08.
1410,758847688,쿡스테이크,126.932853,37.527045,서울 영등포구 여의동로 지하 343,http://place.map.kakao.com/758847688,NaN,"스테이크,립",NaN,0.0,010-3047-6687,2019.12.16.
1411,1844515946,미스터리키친,126.932974,37.527133,서울 영등포구 여의동로 지하 343,http://place.map.kakao.com/1844515946,NaN,패스트푸드,NaN,0.0,010-7773-0960,2019.12.16.

In [ ]:
naver_df # title, rating, large_category, mid_category, menu, address, 지번, lat, lng, url

,상호,별점,전화번호,영업여부,음식분류,주소,지번,위도,경도,urls
0,오핀카페 영등포점,4.42,0507-1485-0153,영업 중,카페,서울 영등포구 문래로28길 25 영시티S타워 로비층,문래동3가 55-18,37.517020,126.895910,https://map.naver.com/v5/search/오핀카페%20영등포점
1,대초원꼬치,-,02-6403-8881,영업 중,양꼬치,서울 영등포구 디지털로37라길 14,대림동 1058-9,37.495757,126.899936,https://map.naver.com/v5/search/대초원꼬치
2,영일분식,4.36,02-2636-9817,영업 중,종합분식,서울 영등포구 도림로141가길 34-1,문래동4가 8-26,37.514477,126.889889,https://map.naver.com/v5/search/영일분식
3,진주집,4.4,02-780-6108,영업 중,국수,서울 영등포구 국제금융로6길 33 지하 1층,여의도동 36-2,37.526709,126.923800,https://map.naver.com/v5/search/진주집
4,골목집,-,0507-1411-1387,영업 중,오리요리,서울 영등포구 도림로139가길 11-1 1층 골목집,문래동2가 42-6,37.512804,126.892979,https://map.naver.com/v5/search/골목집
...,...,...,...,...,...,...,...,...,...,...
248,오묘,4.82,070-4155-5252,브레이크타임,일식당,서울 영등포구 의사당대로1길 25 2층,여의도동 44-23,37.526709,126.923800,https://map.naver.com/v5/search/오묘
249,농농,4.56,0507-1409-4888,영업 중,베트남음식,서울 영등포구 국회대로70길 7 지하1층,여의도동 14-2,37.526709,126.923800,https://map.naver.com/v5/search/농농
250,이와타,4.38,0507-1409-4806,브레이크타임,일본식라면,서울 영등포구 국제금융로6길 33 맨하탄빌딩 지하1층 42호,여의도동 36-2,37.526709,126.923800,https://map.naver.com/v5/search/이와타
251,완백부대찌개 여의도식객촌점,4.42,0507-1402-5397,곧 영업 시작,"찌개,전골",서울 영등포구 국제금융로2길 17 씨티플라자2층,여의도동 25,37.526709,126.923800,https://map.naver.com/v5/search/완백부대찌개%20여의도식객촌점
252,구석집,4.52,0507-1475-1232,영업 중,한식,서울 영등포구 국회대로36길 3-1 1층 구석집,당산동3가 100,37.526160,126.897240,https://map.naver.com/v5/search/구석집

In [ ]:
mango_df

,title,rating,address,category,url,lat,lng,new_category,menu,tel
0,스시아라타,4.7,서울시 영등포구 여의도동 34-8,회 / 스시,https://www.mangoplate.com/restaurants/vZ74ooB...,37.521257,126.928871,식당,"['평일런치 스시오마카세', '평일디너 스시오마카세', '주말 스시오마카세']",02-2636-9417
1,바이러닉에스프레소바 ...,4.7,서울시 영등포구 여의도동 17,카페 / 디저트,https://www.mangoplate.com/restaurants/DgRCxk7...,37.525641,126.918618,카페,"['아메리카노', '라떼', '바닐라라떼', '마카다미아라떼', '코코넛꼼빠냐']",-
2,히노노리,4.7,서울시 영등포구 여의도동 23-6,기타 일식,https://www.mangoplate.com/restaurants/vVNatXW...,37.523328,126.923439,식당,-,02-6747-0773
3,허브족발 (본점),4.6,서울시 영등포구 당산동6가 237-38,고기 요리,https://www.mangoplate.com/restaurants/q20qRCRIIS,37.534224,126.902961,식당,"['앞다리족발', '뒷다리족발', '매콤족발', '앞다리족발 매콤족발 (반반)', ...",02-2633-4339
4,우미노미,4.6,서울시 영등포구 당산동4가 31-2,돈부리 / 일본 카레 / 벤토,https://www.mangoplate.com/restaurants/LGXola8...,37.530237,126.899325,식당,"['카이센동', '차돌스키야키', '사케동', '카이센동 모듬']",02-3667-4027
...,...,...,...,...,...,...,...,...,...,...
995,카페 오브,-,서울시 영등포구 양평동5가 120-2,카페 / 디저트,https://www.mangoplate.com/restaurants/qx2m_ZI...,37.540349,126.895660,카페,-,02-2631-9647
996,한양원,-,서울시 영등포구 여의도동 44-36,고기 요리,https://www.mangoplate.com/restaurants/Tz1o7OXVDV,37.519150,126.930520,식당,-,02-761-9292
997,고반식당 (서여의도점),-,서울시 영등포구 여의도동 17-9,고기 요리,https://www.mangoplate.com/restaurants/BPQ6mym...,37.526576,126.918188,식당,-,02-786-0092
998,은행골 (여의도점),-,서울시 영등포구 여의도동 44-21,회 / 스시,https://www.mangoplate.com/restaurants/p-b7223...,37.520721,126.929123,식당,-,02-784-4988
999,오락,-,서울시 영등포구 여의도동 43,기타 한식,https://www.mangoplate.com/restaurants/HaN7PrruhJ,37.521462,126.930659,식당,-,02-780-3548

In [ ]:
mango_df['address'] = mango_df['address'].str.replace('서울시 영등포구', '')
kakao_df['road_address'] = kakao_df['road_address'].str.replace('서울 영등포구', '')

In [ ]:
mango_df

,title,rating,address,category,url,lat,lng,new_category,menu,tel
0,스시아라타,4.7,여의도동 34-8,회 / 스시,https://www.mangoplate.com/restaurants/vZ74ooB...,37.521257,126.928871,식당,"['평일런치 스시오마카세', '평일디너 스시오마카세', '주말 스시오마카세']",02-2636-9417
1,바이러닉에스프레소바 ...,4.7,여의도동 17,카페 / 디저트,https://www.mangoplate.com/restaurants/DgRCxk7...,37.525641,126.918618,카페,"['아메리카노', '라떼', '바닐라라떼', '마카다미아라떼', '코코넛꼼빠냐']",-
2,히노노리,4.7,여의도동 23-6,기타 일식,https://www.mangoplate.com/restaurants/vVNatXW...,37.523328,126.923439,식당,-,02-6747-0773
3,허브족발 (본점),4.6,당산동6가 237-38,고기 요리,https://www.mangoplate.com/restaurants/q20qRCRIIS,37.534224,126.902961,식당,"['앞다리족발', '뒷다리족발', '매콤족발', '앞다리족발 매콤족발 (반반)', ...",02-2633-4339
4,우미노미,4.6,당산동4가 31-2,돈부리 / 일본 카레 / 벤토,https://www.mangoplate.com/restaurants/LGXola8...,37.530237,126.899325,식당,"['카이센동', '차돌스키야키', '사케동', '카이센동 모듬']",02-3667-4027
...,...,...,...,...,...,...,...,...,...,...
995,카페 오브,-,양평동5가 120-2,카페 / 디저트,https://www.mangoplate.com/restaurants/qx2m_ZI...,37.540349,126.895660,카페,-,02-2631-9647
996,한양원,-,여의도동 44-36,고기 요리,https://www.mangoplate.com/restaurants/Tz1o7OXVDV,37.519150,126.930520,식당,-,02-761-9292
997,고반식당 (서여의도점),-,여의도동 17-9,고기 요리,https://www.mangoplate.com/restaurants/BPQ6mym...,37.526576,126.918188,식당,-,02-786-0092
998,은행골 (여의도점),-,여의도동 44-21,회 / 스시,https://www.mangoplate.com/restaurants/p-b7223...,37.520721,126.929123,식당,-,02-784-4988
999,오락,-,여의도동 43,기타 한식,https://www.mangoplate.com/restaurants/HaN7PrruhJ,37.521462,126.930659,식당,-,02-780-3548

In [ ]:
kakao_df

,ID,stores,X,Y,road_address,place_url,menu,category,business_hours,rating,phone_number,last_update
0,20908598,공차 영등포구청점,126.897061,37.526699,당산로 136,http://place.map.kakao.com/20908598,"['브라운슈가 치즈폼 스무디(L)', '브라운슈가 쥬얼리 밀크티(L)', '망고 스...",공차,월~금 10:30 ~ 22:00,4.3,02-2633-0789,2021.04.29.
1,1714644708,이도숙성회,126.896237,37.526695,당산로31길 4,http://place.map.kakao.com/1714644708,"['모듬초밥(12p)', '생연어초밥(10p)', '모듬숙성회(중)', '서더리탕'...",회,월~토 11:00 ~ 22:00,3.9,02-2636-5888,2022.02.16.
2,27527233,까치네분식,126.896689,37.527085,당산로 139,http://place.map.kakao.com/27527233,"['순두부찌개', '김치찌개', '비빔밥', '수제등심돈까스', '떡볶이', '참치...",분식,월~토 07:30 ~ 21:30,3.0,02-2068-3436,2022.05.20.
3,22246273,푸른농장 해바라기생고기정육식당 영등포점,126.896155,37.527045,당산로33길 5,http://place.map.kakao.com/22246273,"['소한마리', '소반마리', '삼겹살', '오겹살', '목살', '가브리살', '...","육류,고기",NaN,4.0,02-3667-1777,2022.03.22.
4,19609040,사조참치 영등포구청점,126.896554,37.526706,당산로 133,http://place.map.kakao.com/19609040,"['메뉴판', 'VIP 특선 (1人)', '사조 특선 (1人)', '사조 스페셜 (...",참치회,NaN,4.4,02-2069-2475,2022.08.18.
...,...,...,...,...,...,...,...,...,...,...,...,...
1407,15681007,엄니식당,126.931091,37.526241,여의나루로 117,http://place.map.kakao.com/15681007,NaN,한식,NaN,2.8,02-785-1007,2022.04.05.
1408,560071396,머글거리,126.935073,37.528453,여의동로 338,http://place.map.kakao.com/560071396,"['호로록떡볶이', '닭꼬치', '오뎅', '우동', '반건조오징어']",분식,NaN,1.5,070-4272-8160,2021.04.17.
1409,8279880,다락방청국장,126.931091,37.526241,여의나루로 117,http://place.map.kakao.com/8279880,NaN,한식,NaN,3.0,02-780-2009,2022.07.08.
1410,758847688,쿡스테이크,126.932853,37.527045,여의동로 지하 343,http://place.map.kakao.com/758847688,NaN,"스테이크,립",NaN,0.0,010-3047-6687,2019.12.16.
1411,1844515946,미스터리키친,126.932974,37.527133,여의동로 지하 343,http://place.map.kakao.com/1844515946,NaN,패스트푸드,NaN,0.0,010-7773-0960,2019.12.16.

In [ ]:
naver_df[naver_df['상호'].str.contains('히노노리')]

,상호,별점,전화번호,영업여부,음식분류,주소,지번,위도,경도,urls
126,히노노리,4.5,0507-1367-0773,브레이크타임,일식당,서울 영등포구 의사당대로 83 103호,여의도동 23-6,37.526709,126.9238,https://map.naver.com/v5/search/히노노리

In [ ]:
mango_df[mango_df['title'].str.contains('히노노리')]

,title,rating,address,category,url,lat,lng,new_category,menu,tel
2,히노노리,4.7,여의도동 23-6,기타 일식,https://www.mangoplate.com/restaurants/vVNatXW...,37.523328,126.923439,식당,-,02-6747-0773

In [ ]:
n_df = naver_df[['상호', '별점', '음식분류', '주소', '지번', '전화번호', '위도', '경도', 'urls']]
m_df = mango_df[['title', 'rating', 'new_category', 'category', 'menu', 'address', 'tel', 'lat', 'lng', 'url']]
k_df = kakao_df[['stores', 'rating', 'category', 'menu', 'road_address', 'phone_number', 'Y', 'X', 'place_url']]

In [ ]:
n_df.columns

Index(['상호', '별점', '음식분류', '주소', '지번', '전화번호', '위도', '경도', 'urls'], dtype='object')

In [ ]:
n_df.rename(columns={'상호': 'n_상호', '별점':'n_별점', '음식분류': 'n_음식', '주소':'n_주소', '지번':'n_지번', '전화번호':'n_전화번호', '위도':'n_위도', '경도':'n_경도', 'urls': 'n_url'}, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
m_df.rename(columns={'title':'m_상호', 'rating':'m_별점', 'new_category':'m_대분류', 'category':'m_음식', 'menu':'m_메뉴', 'address':'m_지번', 'tel':'m_전화번호', 'lat':'m_위도', 'lng':'m_경도', 'url':'m_url'}, inplace=True)

In [ ]:
k_df.rename(columns={'stores':'k_상호', 'rating':'k_별점', 'category':'k_음식', 'menu':'k_메뉴', 'road_address':'k_지번', 'phone_number':'k_전화번호', 'Y':'k_위도', 'X':'k_경도', 'place_url':'k_url'}, inplace=True)

In [ ]:
n_df

,n_상호,n_별점,n_음식,n_주소,n_지번,n_전화번호,n_위도,n_경도,n_url
0,오핀카페 영등포점,4.42,카페,서울 영등포구 문래로28길 25 영시티S타워 로비층,문래동3가 55-18,0507-1485-0153,37.517020,126.895910,https://map.naver.com/v5/search/오핀카페%20영등포점
1,대초원꼬치,-,양꼬치,서울 영등포구 디지털로37라길 14,대림동 1058-9,02-6403-8881,37.495757,126.899936,https://map.naver.com/v5/search/대초원꼬치
2,영일분식,4.36,종합분식,서울 영등포구 도림로141가길 34-1,문래동4가 8-26,02-2636-9817,37.514477,126.889889,https://map.naver.com/v5/search/영일분식
3,진주집,4.4,국수,서울 영등포구 국제금융로6길 33 지하 1층,여의도동 36-2,02-780-6108,37.526709,126.923800,https://map.naver.com/v5/search/진주집
4,골목집,-,오리요리,서울 영등포구 도림로139가길 11-1 1층 골목집,문래동2가 42-6,0507-1411-1387,37.512804,126.892979,https://map.naver.com/v5/search/골목집
...,...,...,...,...,...,...,...,...,...
248,오묘,4.82,일식당,서울 영등포구 의사당대로1길 25 2층,여의도동 44-23,070-4155-5252,37.526709,126.923800,https://map.naver.com/v5/search/오묘
249,농농,4.56,베트남음식,서울 영등포구 국회대로70길 7 지하1층,여의도동 14-2,0507-1409-4888,37.526709,126.923800,https://map.naver.com/v5/search/농농
250,이와타,4.38,일본식라면,서울 영등포구 국제금융로6길 33 맨하탄빌딩 지하1층 42호,여의도동 36-2,0507-1409-4806,37.526709,126.923800,https://map.naver.com/v5/search/이와타
251,완백부대찌개 여의도식객촌점,4.42,"찌개,전골",서울 영등포구 국제금융로2길 17 씨티플라자2층,여의도동 25,0507-1402-5397,37.526709,126.923800,https://map.naver.com/v5/search/완백부대찌개%20여의도식객촌점
252,구석집,4.52,한식,서울 영등포구 국회대로36길 3-1 1층 구석집,당산동3가 100,0507-1475-1232,37.526160,126.897240,https://map.naver.com/v5/search/구석집

In [ ]:
m_df

,m_상호,m_별점,m_대분류,m_음식,m_메뉴,m_지번,m_전화번호,m_위도,m_경도,m_url
0,스시아라타,4.7,식당,회 / 스시,"['평일런치 스시오마카세', '평일디너 스시오마카세', '주말 스시오마카세']",여의도동 34-8,02-2636-9417,37.521257,126.928871,https://www.mangoplate.com/restaurants/vZ74ooB...
1,바이러닉에스프레소바 ...,4.7,카페,카페 / 디저트,"['아메리카노', '라떼', '바닐라라떼', '마카다미아라떼', '코코넛꼼빠냐']",여의도동 17,-,37.525641,126.918618,https://www.mangoplate.com/restaurants/DgRCxk7...
2,히노노리,4.7,식당,기타 일식,-,여의도동 23-6,02-6747-0773,37.523328,126.923439,https://www.mangoplate.com/restaurants/vVNatXW...
3,허브족발 (본점),4.6,식당,고기 요리,"['앞다리족발', '뒷다리족발', '매콤족발', '앞다리족발 매콤족발 (반반)', ...",당산동6가 237-38,02-2633-4339,37.534224,126.902961,https://www.mangoplate.com/restaurants/q20qRCRIIS
4,우미노미,4.6,식당,돈부리 / 일본 카레 / 벤토,"['카이센동', '차돌스키야키', '사케동', '카이센동 모듬']",당산동4가 31-2,02-3667-4027,37.530237,126.899325,https://www.mangoplate.com/restaurants/LGXola8...
...,...,...,...,...,...,...,...,...,...,...
995,카페 오브,-,카페,카페 / 디저트,-,양평동5가 120-2,02-2631-9647,37.540349,126.895660,https://www.mangoplate.com/restaurants/qx2m_ZI...
996,한양원,-,식당,고기 요리,-,여의도동 44-36,02-761-9292,37.519150,126.930520,https://www.mangoplate.com/restaurants/Tz1o7OXVDV
997,고반식당 (서여의도점),-,식당,고기 요리,-,여의도동 17-9,02-786-0092,37.526576,126.918188,https://www.mangoplate.com/restaurants/BPQ6mym...
998,은행골 (여의도점),-,식당,회 / 스시,-,여의도동 44-21,02-784-4988,37.520721,126.929123,https://www.mangoplate.com/restaurants/p-b7223...
999,오락,-,식당,기타 한식,-,여의도동 43,02-780-3548,37.521462,126.930659,https://www.mangoplate.com/restaurants/HaN7PrruhJ

In [ ]:
k_df

,k_상호,k_별점,k_음식,k_메뉴,k_지번,k_전화번호,k_위도,k_경도,k_url
0,공차 영등포구청점,4.3,공차,"['브라운슈가 치즈폼 스무디(L)', '브라운슈가 쥬얼리 밀크티(L)', '망고 스...",당산로 136,02-2633-0789,37.526699,126.897061,http://place.map.kakao.com/20908598
1,이도숙성회,3.9,회,"['모듬초밥(12p)', '생연어초밥(10p)', '모듬숙성회(중)', '서더리탕'...",당산로31길 4,02-2636-5888,37.526695,126.896237,http://place.map.kakao.com/1714644708
2,까치네분식,3.0,분식,"['순두부찌개', '김치찌개', '비빔밥', '수제등심돈까스', '떡볶이', '참치...",당산로 139,02-2068-3436,37.527085,126.896689,http://place.map.kakao.com/27527233
3,푸른농장 해바라기생고기정육식당 영등포점,4.0,"육류,고기","['소한마리', '소반마리', '삼겹살', '오겹살', '목살', '가브리살', '...",당산로33길 5,02-3667-1777,37.527045,126.896155,http://place.map.kakao.com/22246273
4,사조참치 영등포구청점,4.4,참치회,"['메뉴판', 'VIP 특선 (1人)', '사조 특선 (1人)', '사조 스페셜 (...",당산로 133,02-2069-2475,37.526706,126.896554,http://place.map.kakao.com/19609040
...,...,...,...,...,...,...,...,...,...
1407,엄니식당,2.8,한식,NaN,여의나루로 117,02-785-1007,37.526241,126.931091,http://place.map.kakao.com/15681007
1408,머글거리,1.5,분식,"['호로록떡볶이', '닭꼬치', '오뎅', '우동', '반건조오징어']",여의동로 338,070-4272-8160,37.528453,126.935073,http://place.map.kakao.com/560071396
1409,다락방청국장,3.0,한식,NaN,여의나루로 117,02-780-2009,37.526241,126.931091,http://place.map.kakao.com/8279880
1410,쿡스테이크,0.0,"스테이크,립",NaN,여의동로 지하 343,010-3047-6687,37.527045,126.932853,http://place.map.kakao.com/758847688
1411,미스터리키친,0.0,패스트푸드,NaN,여의동로 지하 343,010-7773-0960,37.527133,126.932974,http://place.map.kakao.com/1844515946

In [ ]:
k_m_df = pd.merge(k_df, m_df, how='left', left_on= 'k_전화번호', right_on='m_전화번호')

In [ ]:
k_m_n_df = pd.merge(k_m_df, n_df, how='left', left_on= 'k_전화번호', right_on='n_전화번호')

In [ ]:
k_m_n_df

,k_상호,k_별점,k_음식,k_메뉴,k_지번,k_전화번호,k_위도,k_경도,k_url,m_상호,...,m_url,n_상호,n_별점,n_음식,n_주소,n_지번,n_전화번호,n_위도,n_경도,n_url
0,공차 영등포구청점,4.3,공차,"['브라운슈가 치즈폼 스무디(L)', '브라운슈가 쥬얼리 밀크티(L)', '망고 스...",당산로 136,02-2633-0789,37.526699,126.897061,http://place.map.kakao.com/20908598,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,이도숙성회,3.9,회,"['모듬초밥(12p)', '생연어초밥(10p)', '모듬숙성회(중)', '서더리탕'...",당산로31길 4,02-2636-5888,37.526695,126.896237,http://place.map.kakao.com/1714644708,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,까치네분식,3.0,분식,"['순두부찌개', '김치찌개', '비빔밥', '수제등심돈까스', '떡볶이', '참치...",당산로 139,02-2068-3436,37.527085,126.896689,http://place.map.kakao.com/27527233,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,푸른농장 해바라기생고기정육식당 영등포점,4.0,"육류,고기","['소한마리', '소반마리', '삼겹살', '오겹살', '목살', '가브리살', '...",당산로33길 5,02-3667-1777,37.527045,126.896155,http://place.map.kakao.com/22246273,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,사조참치 영등포구청점,4.4,참치회,"['메뉴판', 'VIP 특선 (1人)', '사조 특선 (1人)', '사조 스페셜 (...",당산로 133,02-2069-2475,37.526706,126.896554,http://place.map.kakao.com/19609040,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1407,엄니식당,2.8,한식,NaN,여의나루로 117,02-785-1007,37.526241,126.931091,http://place.map.kakao.com/15681007,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1408,머글거리,1.5,분식,"['호로록떡볶이', '닭꼬치', '오뎅', '우동', '반건조오징어']",여의동로 338,070-4272-8160,37.528453,126.935073,http://place.map.kakao.com/560071396,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1409,다락방청국장,3.0,한식,NaN,여의나루로 117,02-780-2009,37.526241,126.931091,http://place.map.kakao.com/8279880,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1410,쿡스테이크,0.0,"스테이크,립",NaN,여의동로 지하 343,010-3047-6687,37.527045,126.932853,http://place.map.kakao.com/758847688,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1411,미스터리키친,0.0,패스트푸드,NaN,여의동로 지하 343,010-7773-0960,37.527133,126.932974,http://place.map.kakao.com/1844515946,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#k_m_n_df.to_excel('k_m_n_num_data.xlsx')

In [ ]:
#concat_df.to_csv('map_concat.csv')

In [ ]:
import re

In [ ]:
concat_df.groupby(['상호','지번']).mean()

                          위도          경도
상호   지번
      대림동 1066-65  37.489732  126.898379
      대림동 989-3    37.489328  126.906351
      문래동3가 83-3   37.519872  126.890559
      여의도동 13-5    37.529940  126.922214
      여의도동 14-2    37.529955  126.919895
...                      ...         ...
희정식당  여의도동 21-3    37.526195  126.931042
히노노리  여의도동 23-6    37.523328  126.923439
     여의도동 23-6     37.526709  126.923800
히또비또  여의도동 44-37   37.518859  126.930763
히어로멘  당산동4가 32-52  37.529612  126.898833

[1253 rows x 2 columns]

In [ ]:
concat_df[concat_df['상호'].duplicated()]

,상호,별점,대분류,음식,메뉴,지번,위도,경도,url,주소,전화번호
289,브레드05,3.5,카페,베이커리,-,여의도동 41-1,37.523210,126.933061,https://www.mangoplate.com/restaurants/7kUH95BcBy,NaN,NaN
659,엘리스파이,-,카페,베이커리,-,양평동4가 63-3,37.535877,126.897225,https://www.mangoplate.com/restaurants/28pPKuL...,NaN,NaN
730,호우양꼬치,-,식당,기타 중식,-,여의도동 21-3,37.526195,126.931042,https://www.mangoplate.com/restaurants/FFL_zRzaKn,NaN,NaN
1,대초원꼬치,-,NaN,양꼬치,NaN,대림동 1058-9,37.495757,126.899936,https://map.naver.com/v5/search/대초원꼬치,서울 영등포구 디지털로37라길 14,02-6403-8881
2,영일분식,4.36,NaN,종합분식,NaN,문래동4가 8-26,37.514477,126.889889,https://map.naver.com/v5/search/영일분식,서울 영등포구 도림로141가길 34-1,02-2636-9817
...,...,...,...,...,...,...,...,...,...,...,...
241,시즌커피앤베이크,4.5,NaN,"카페,디저트",NaN,양평동3가 41-2,37.528250,126.891475,https://map.naver.com/v5/search/시즌커피앤베이크,서울 영등포구 양산로9길 12-1,02-2676-7161
242,제이레스토랑,4.74,NaN,일식당,NaN,서울 영등포구 여의도동 17-6,37.525226,126.925740,https://map.naver.com/v5/search/제이레스토랑,서울 영등포구 여의도동 17-6,010-2663-3683
244,당산친친,4.94,NaN,와인,NaN,양평동4가 27-6,37.536890,126.896380,https://map.naver.com/v5/search/당산친친,서울 영등포구 선유동2로 73 2층 당산친친,02-2677-6153
245,아리수만찬,4.26,NaN,한식,NaN,양화동 32-1,36.106212,126.866659,https://map.naver.com/v5/search/아리수만찬,서울 영등포구 노들로 111 양화선착장,02-2632-2100
250,이와타,4.38,NaN,일본식라면,NaN,여의도동 36-2,37.526709,126.923800,https://map.naver.com/v5/search/이와타,서울 영등포구 국제금융로6길 33 맨하탄빌딩 지하1층 42호,0507-1409-4806

In [ ]:
concat_df[concat_df['지번'].duplicated()]

,상호,별점,대분류,음식,메뉴,지번,위도,경도,url,주소,전화번호
15,허리헝그리 (더현대서울),4.4,식당,브런치 / 버거 / 샌드위치,-,여의도동 22,37.526029,126.928308,https://www.mangoplate.com/restaurants/1ubJn78...,NaN,NaN
19,아루히,4.3,식당,회 / 스시,"['오마카세 런치', '오마카세 디너', '제철 사시미', '해산물 초회']",여의도동 35-5,37.521356,126.924980,https://www.mangoplate.com/restaurants/SKXF6cb...,NaN,NaN
29,르프리크 (더현대서울점),4.3,식당,브런치 / 버거 / 샌드위치,['시그니쳐버거'],여의도동 22,37.526029,126.928308,https://www.mangoplate.com/restaurants/qT81KJG...,NaN,NaN
30,아트리오 (콘래드호텔...,4.3,식당,이탈리안,"['여러가지 비트샐러드', '포르마지 (레귤러)', '오징어 먹물 스파게티', '와...",여의도동 23,37.524937,126.925285,https://www.mangoplate.com/restaurants/012Bpc16Zc,NaN,NaN
32,카페 레이어드 (더현...,4.3,카페,카페 / 디저트,"['클래식버터스콘', '바질스콘', '갈릭크림스콘', '딸기스콘', '말차스콘']",여의도동 22,37.526029,126.928308,https://www.mangoplate.com/restaurants/aTEl_UE...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
238,시마스시 여의도IFC몰점,4.35,NaN,"초밥,롤",NaN,여의도동 23,37.526709,126.923800,https://map.naver.com/v5/search/시마스시%20여의도IFC몰점,서울 영등포구 국제금융로 10 서울 국제금융 센터 L3층,02-6137-5810
246,생어거스틴 여의도점,4.52,NaN,아시아음식,NaN,여의도동 26,37.526709,126.923800,https://map.naver.com/v5/search/생어거스틴%20여의도점,서울 영등포구 국제금융로2길 37 S-TRENUE,0507-1366-1680
247,창고43 본점,4.28,NaN,소고기구이,NaN,여의도동 36-2,37.526709,126.923800,https://map.naver.com/v5/search/창고43%20본점,서울 영등포구 국제금융로6길 33 여의도백화점 m1층,0507-1499-4557
250,이와타,4.38,NaN,일본식라면,NaN,여의도동 36-2,37.526709,126.923800,https://map.naver.com/v5/search/이와타,서울 영등포구 국제금융로6길 33 맨하탄빌딩 지하1층 42호,0507-1409-4806
251,완백부대찌개 여의도식객촌점,4.42,NaN,"찌개,전골",NaN,여의도동 25,37.526709,126.923800,https://map.naver.com/v5/search/완백부대찌개%20여의도식객촌점,서울 영등포구 국제금융로2길 17 씨티플라자2층,0507-1402-5397