<a href="https://colab.research.google.com/github/dtype2100/Python/blob/master/220714_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('../data/gapminder.tsv', sep='\t')
df

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [ ]:
df.describe()

             year      lifeExp           pop      gdpPercap
count  1704.00000  1704.000000  1.704000e+03    1704.000000
mean   1979.50000    59.474439  2.960121e+07    7215.327081
std      17.26533    12.917107  1.061579e+08    9857.454543
min    1952.00000    23.599000  6.001100e+04     241.165877
25%    1965.75000    48.198000  2.793664e+06    1202.060309
50%    1979.50000    60.712500  7.023596e+06    3531.846989
75%    1993.25000    70.845500  1.958522e+07    9325.462346
max    2007.00000    82.603000  1.318683e+09  113523.132900

In [ ]:
df['country'].value_counts()

Slovenia              12
Mexico                12
Mongolia              12
Mauritius             12
Swaziland             12
                      ..
West Bank and Gaza    12
Tunisia               12
Bulgaria              12
Namibia               12
Pakistan              12
Name: country, Length: 142, dtype: int64

In [ ]:
df['continent'].value_counts()

Africa      624
Asia        396
Europe      360
Americas    300
Oceania      24
Name: continent, dtype: int64

In [ ]:
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [ ]:
df.tail()

       country continent  year  lifeExp       pop   gdpPercap
1699  Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700  Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701  Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702  Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df.shape # 행, 열

(1704, 6)

In [ ]:
print(df.shape[0])
print(df.shape[1])

1704
6

In [ ]:
df.dtypes

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
country      1704 non-null object
continent    1704 non-null object
year         1704 non-null int64
lifeExp      1704 non-null float64
pop          1704 non-null int64
gdpPercap    1704 non-null float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [ ]:
country_df = df['country']

In [ ]:
type(country_df)

pandas.core.series.Series

In [ ]:
country_df.head()

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

In [ ]:
country_df.tail()

1699    Zimbabwe
1700    Zimbabwe
1701    Zimbabwe
1702    Zimbabwe
1703    Zimbabwe
Name: country, dtype: object

In [ ]:
subset = df[['country', 'continent', 'year']]
print(type(subset))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
print(subset.head())

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972

In [ ]:
df.loc[100]

country      Bangladesh
continent          Asia
year               1972
lifeExp          45.252
pop            70759295
gdpPercap       630.234
Name: 100, dtype: object

In [ ]:
df.loc[-1] # -1과 같이 인덱스에 없는 값을 사용하면 오류남

KeyError: -1

In [ ]:
number_of_rows = df.shape[0] # 행의 개수
last_row = number_of_rows - 1 # 파이썬은 0부터 시작하여 -1
df.loc[last_row]

country      Zimbabwe
continent      Africa
year             2007
lifeExp        43.487
pop          12311143
gdpPercap     469.709
Name: 1703, dtype: object

In [ ]:
df.tail(n=1)

       country continent  year  lifeExp       pop   gdpPercap
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [ ]:
df.loc[[0, 100, 1000]]

          country continent  year  lifeExp       pop    gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333   779.445314
100    Bangladesh      Asia  1972   45.252  70759295   630.233627
1000     Mongolia      Asia  1972   53.754   1320500  1421.741975

In [ ]:
df.iloc[::2,:] # 짝수 행만 출력

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
6     Afghanistan      Asia  1982   39.854  12881816  978.011439
8     Afghanistan      Asia  1992   41.674  16317921  649.341395
...           ...       ...   ...      ...       ...         ...
1694     Zimbabwe    Africa  1962   52.358   4277736  527.272182
1696     Zimbabwe    Africa  1972   55.635   5861135  799.362176
1698     Zimbabwe    Africa  1982   60.363   7636524  788.855041
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623

[852 rows x 6 columns]

In [ ]:
df.iloc[:5, :5]

       country continent  year  lifeExp       pop
0  Afghanistan      Asia  1952   28.801   8425333
1  Afghanistan      Asia  1957   30.332   9240934
2  Afghanistan      Asia  1962   31.997  10267083
3  Afghanistan      Asia  1967   34.020  11537966
4  Afghanistan      Asia  1972   36.088  13079460

In [ ]:
df.loc[:5]

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106
5  Afghanistan      Asia  1977   38.438  14880372  786.113360

In [ ]:
df1 = pd.read_csv('../data/CCTV.csv')

In [ ]:
df1.head()

,구별,소계,최근증가율,인구수,한국인,외국인,고령자,외국인비율,고령자비율,CCTV비율,오차
0,강남구,2780,150.619195,570500.0,565550.0,4950.0,63167.0,0.867660,11.072217,0.487292,1388.055355
1,강동구,773,166.490765,453233.0,449019.0,4214.0,54622.0,0.929765,12.051638,0.170552,465.422892
2,강북구,748,125.203252,330192.0,326686.0,3506.0,54813.0,1.061806,16.600342,0.226535,329.342026
3,강서구,884,134.793814,603772.0,597248.0,6524.0,72548.0,1.080540,12.015794,0.146413,551.503155
4,관악구,1496,149.290780,525515.0,507203.0,18312.0,68082.0,3.484582,12.955291,0.284673,162.948104

In [ ]:
df1.tail(3)

,구별,소계,최근증가율,인구수,한국인,외국인,고령자,외국인비율,고령자비율,CCTV비율,오차
22,종로구,1002,248.922414,162820.0,153589.0,9231.0,25425.0,5.669451,15.615404,0.615404,143.775396
23,중구,671,147.699758,133240.0,124312.0,8928.0,20764.0,6.700690,15.583909,0.503603,148.499528
24,중랑구,660,79.960707,414503.0,409882.0,4621.0,56774.0,1.114829,13.696885,0.159227,527.718965

In [ ]:
df1[['구별', '한국인', 'CCTV비율']]

      구별       한국인    CCTV비율
0    강남구  565550.0  0.487292
1    강동구  449019.0  0.170552
2    강북구  326686.0  0.226535
3    강서구  597248.0  0.146413
4    관악구  507203.0  0.284673
5    광진구  357211.0  0.189970
6    구로구  416487.0  0.348536
7    금천구  236353.0  0.397911
8    노원구  565565.0  0.222170
9    도봉구  346629.0  0.139110
10  동대문구  354079.0  0.350207
11   동작구  400456.0  0.264472
12   마포구  378566.0  0.147312
13  서대문구  314982.0  0.294043
14   서초구  445994.0  0.428594
15   성동구  303380.0  0.341211
16   성북구  449773.0  0.317391
17   송파구  660584.0  0.092587
18   양천구  475949.0  0.423769
19  영등포구  368072.0  0.224326
20   용산구  229456.0  0.665020
21   은평구  489943.0  0.378852
22   종로구  153589.0  0.615404
23    중구  124312.0  0.503603
24   중랑구  409882.0  0.159227

In [ ]:
df1.loc[[5, 17, 20]]

,구별,소계,최근증가율,인구수,한국인,외국인,고령자,외국인비율,고령자비율,CCTV비율,오차
5,광진구,707,53.228621,372164.0,357211.0,14953.0,42214.0,4.017852,11.342849,0.189970,425.290264
17,송파구,618,104.347826,667483.0,660584.0,6899.0,72506.0,1.033584,10.862599,0.092587,900.911312
20,용산구,1624,53.216374,244203.0,229456.0,14747.0,36231.0,6.038828,14.836427,0.665020,659.231690

In [ ]:
df1.columns

Index(['구별', '소계', '최근증가율', '인구수', '한국인', '외국인', '고령자', '외국인비율', '고령자비율',
       'CCTV비율', '오차'],
      dtype='object')