In [ ]:
import pandas as pd
import numpy as np

In [ ]:
col  = ['col1','col2','col3','col4']
row  = ['row1','row2','row3']
data = [[1,2,pd.NA,4],
        [np.nan,6,7,8],
        [9,10,11,None]]

In [ ]:
df = pd.DataFrame(data, row, col)

In [ ]:
print(df.isna())

       col1   col2   col3   col4
row1  False  False   True  False
row2   True  False  False  False
row3  False  False  False   True

In [ ]:
print(df.isnull())

       col1   col2   col3   col4
row1  False  False   True  False
row2   True  False  False  False
row3  False  False  False   True

In [ ]:
print(df.notna())

       col1  col2   col3   col4
row1   True  True  False   True
row2  False  True   True   True
row3   True  True   True  False

In [ ]:
print(df.notnull())

       col1  col2   col3   col4
row1   True  True  False   True
row2  False  True   True   True
row3   True  True   True  False

In [ ]:
df.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)

Empty DataFrame
Columns: [col1, col2, col3, col4]
Index: []